@import "font-awesome";
@import "common";
@import "hero";
@import "about";
@import "qualification";
@import "nav";
@import "projects";
@import "jobs";
@import "contact";

body {
  font-family: $OpenSans;
  color: $dark;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}



.section-title {
  font-family: $Josefin;
  text-transform: uppercase;
  font-size: 5em;
  line-height: 1.1em;
  //border: 4px solid $dark;
  //padding: 6px 14px;
  padding-bottom: 12px;
  //border-bottom: 6px solid $dark;
  display: inline-block;
  margin: 0 0 80px 0;
}

.section {
  padding: 100px 0;
}

#links {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  z-index: 101;
  background-color: $dark;
  .side-link {
    position: relative;
    display: inline-block;
    z-index: 102;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    color: white;
    transition: background-color 0.3s;
    &:hover {
      background-color: $red;
      color: $dark;
    }
  }
  .side-menu {
    display: none;
    cursor: pointer;
  }
  #links-container {
    display: flex;
    flex-direction: column;

  }
  .menu {
    position: fixed;
    top: -100vh;
    overflow: hidden;
    z-index: 99;
    transition: top 0.3s;
    &.hidden {
      top: -100vh;
    }
  }
}

#overall {
  width: calc(100% - 50px);
  margin-left: 50px;
}


@media (max-width: 1080px) {
  .container {
    width: 92%;
    max-width: 860px;
  }

}

@media (max-width: 540px) {
  .container {
    width: 94%;
  }
  #overall {
    width: 100%;
    margin: 50px 0 0 0;
  }
  #links {
    height: auto;
    width: 100%;
    justify-content: space-between;
    .side-menu {
      display: flex;

    }
    #links-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .sideMenu-container {
      z-index: 103;
      background-color: $dark;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .menu {
      display: flex;
      width: 100%;
      height: calc(100vh - 50px);

      top: 50px;
      left: 0;
      background-color: white;
      justify-content: center;
      align-items: center;
      font-size: 1.7em;

      font-family: $Montserrat;
      &.hidden {
        top: -100vh;
      }
      li {
        margin: 15px 0;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: $red;
        }
      }
    }
  }
  .section-title {
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: 60px;
  }
}

