$red: #c0392b;
$base:  #F5F5F5;
$dark: #212121;
$grey: #9E9E9E;

$green: #27ae60;
$red: #487eb0;
$purple: #9575CD;

$light-blue: #64B5F6;
$link-blue: #29B6F6;
$darker-blue: #03A9F4;

$AmaticSC: 'Amatic SC', cursive;
$OpenSans: 'Open Sans', sans-serif;
$Josefin: 'Josefin Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

.blue-color {
  color: $light-blue;
}

.purple-color {
  color: $purple;
}
.green-color {
  color: $green;
}
