@import "common";

#contact-section {
  color: white;
  background-color: $red;
  .links-container {
    padding: 100px 0;
  }
  .contact-container {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    .contact-link {
      width: 50%;
      font-size: 1.5em;
      color: white;
      margin: 20px 0;
      &:hover {
        color: $dark;
      }
    }
  }
  footer {
    padding: 20px 0;
    font-family: $Josefin;
    text-transform: uppercase;
    background: #40739e;
    //font-weight: 300;
    color: white;
  }
}

@media (max-width: 1000px) {
  #contact-section {
    .links-container {
      padding: 60px 0;
    }
    .contact-container {
      .contact-link {
        width: 100%;
        font-size: 1.2em;
      }
    }
  }
}